[submodule "apps/qtcloud-pay"]
	path = apps/qtcloud-pay
	url = https://github.com/quanttide/qtcloud-pay.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-payment-engineering.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-payment-engineering.git
[submodule "data/library"]
	path = data/library
	url = https://github.com/quanttide/quanttide-library-of-payment-engineering.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-payment-engineering.git
[submodule "data/insight"]
	path = data/insight
	url = https://github.com/quanttide/quanttide-insight-of-payment-engineering.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-payment-engineering.git
