[submodule "apps/qtcloud-pay"]
	path = apps/qtcloud-pay
	url = https://github.com/quanttide/qtcloud-pay.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-payment-engineering.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-payment-engineering.git
